.mainHeader {
  margin: 1%;
  margin-bottom: 3%;
  justify-content: center;
  color: rgb(70, 70, 70);
  font-size: 500%;
  text-shadow: -1px -1px 0 rgb(255, 255, 175), 1px 1px 0 rgb(255, 255, 175),
    -1px 0 0 black, 1px 0 0 black, 0 5px 12px rgba(0, 0, 0, 0.7);
  background-color: rgb(236, 236, 236);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
      to right top,
      rgb(255, 255, 255),
      rgb(255, 255, 75),
      rgb(255, 255, 175),
      rgb(255, 255, 75),
      rgb(255, 255, 255)
    )
    1% round;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.9);
  background: -webkit-radial-gradient(
      center bottom,
      white 0%,
      rgba(160, 201, 215, 0) 80%
    ),
    -webkit-linear-gradient(top, rgb(255, 255, 205) 0%, rgb(255, 255, 255) 6%, rgb(
            255,
            255,
            75
          )
          100%);
  /* background: blue; */
}
