.sorterSortBlock {
  padding: 1% 0% 1% 0%;
  background-color: rgb(236, 236, 236);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.9);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
      to right top,
      rgb(255, 255, 255),
      rgb(255, 255, 75),
      rgb(255, 255, 175),
      rgb(255, 255, 75),
      rgb(255, 255, 255)
    )
    1% round;
}

.sorterSubheader {
  font-weight: bold;
}

.sorterSortForm {
  padding: 0% 0% 3% 0%;
}

.sorterSortFormOptions {
  padding: 0% 0% 0% 0%;
}
